WebService1/WebApplication1/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Szumma">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SzummaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SzummaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoreInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="i" type="tns:Invoice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Invoice">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfInvoiceItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInvoiceItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InvoiceItem" nillable="true" type="tns:InvoiceItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InvoiceItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:int" />
        </s:sequence>
        <s:attribute name="InvoiceId" type="s:int" use="required" />
      </s:complexType>
      <s:complexType name="Invoice2">
        <s:complexContent mixed="false">
          <s:extension base="tns:Invoice">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Deadline" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="StoreInvoiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvoiceResult" type="tns:Invoice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parent" type="tns:Invoice" />
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:InvoiceItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddItemResult" type="tns:Invoice" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SzummaSoapIn">
    <wsdl:part name="parameters" element="tns:Szumma" />
  </wsdl:message>
  <wsdl:message name="SzummaSoapOut">
    <wsdl:part name="parameters" element="tns:SzummaResponse" />
  </wsdl:message>
  <wsdl:message name="StoreInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:StoreInvoice" />
  </wsdl:message>
  <wsdl:message name="StoreInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:StoreInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvoice" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="AddItemSoapIn">
    <wsdl:part name="parameters" element="tns:AddItem" />
  </wsdl:message>
  <wsdl:message name="AddItemSoapOut">
    <wsdl:part name="parameters" element="tns:AddItemResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Szumma">
      <wsdl:input message="tns:SzummaSoapIn" />
      <wsdl:output message="tns:SzummaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StoreInvoice">
      <wsdl:input message="tns:StoreInvoiceSoapIn" />
      <wsdl:output message="tns:StoreInvoiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoice">
      <wsdl:input message="tns:GetInvoiceSoapIn" />
      <wsdl:output message="tns:GetInvoiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddItem">
      <wsdl:input message="tns:AddItemSoapIn" />
      <wsdl:output message="tns:AddItemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Szumma">
      <soap:operation soapAction="http://tempuri.org/Szumma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreInvoice">
      <soap:operation soapAction="http://tempuri.org/StoreInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoice">
      <soap:operation soapAction="http://tempuri.org/GetInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddItem">
      <soap:operation soapAction="http://tempuri.org/AddItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Szumma">
      <soap12:operation soapAction="http://tempuri.org/Szumma" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreInvoice">
      <soap12:operation soapAction="http://tempuri.org/StoreInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoice">
      <soap12:operation soapAction="http://tempuri.org/GetInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddItem">
      <soap12:operation soapAction="http://tempuri.org/AddItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:3837/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:3837/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>